---
layout: archive
---

{{ content }}
<style>
.space { margin-top: 200px; }
.textsize { font-size: 80%; }
</style>


<p>Hi, my name is Max Ogryzko. I'm currently studying computer science at Columbia University, but before that I grew up in Seattle, WA. Recently I've been interested in computer vision and data visualization. In my free time I love being outdoors and around friends. At the moment I'm trying to figure out html and css!
</b></p>
<p><div class="space"></div>
<strong>Here's a cool data visualization project</strong>
</b></p>
<div class="textsize"> 
  <div id="test"></div>
</div>
<div id="chart"></div>
<div class="textsize">
  <div id="viewof-slider"></div>
</div>
<div class="textsize">
  <div id="viewof-gender"></div>
</div>
<div class="textsize">
  <div id="viewof-type"></div>
</div>

<script type="module">
  import notebook from "https://api.observablehq.com/@mogryzko/assignment-3/2.js";

  const renders = {
    "test": "#test",
    "chart": "#chart",
    "viewof slider": "#viewof-slider",
    "viewof gender": "#viewof-gender",
    "viewof type": "#viewof-type",
  };

  import {Inspector, Runtime} from "https://unpkg.com/@observablehq/notebook-runtime@1.2.0?module";
  for (let i in renders)
    renders[i] = document.querySelector(renders[i]);

  Runtime.load(notebook, (variable) => {
    if (renders[variable.name])
      return new Inspector(renders[variable.name]);
  });
</script>
</b></p>


